@tailwind preflight;
@tailwind components;

html,
body,
#root {
  min-height: 100%;
}

body {
  @apply bg-black font-serif;
  text-align: center;
}

.anchor {
  @apply no-underline text-white;
}

.anchor .box-link {
  @apply border-b-4 border-transparent pb-2 mx-auto w-1/2;
}

.anchor .box-link .link {
  @apply py-2 border-b border-transparent block text-3xl;
}

.anchor.active .box-link,
.anchor.active .box-link .link {
  @apply border-white;
}

.favorite-wrapper label:hover {
  @apply cursor-pointer;
}

.favorite-wrapper input[type='checkbox'] {
  display: none;
}

.favorite-wrapper label .star {
  display: none;
}

.favorite-wrapper input[type='checkbox']:checked + label .star {
  display: initial;
}

.button {
  @apply bg-transparent text-white font-semibold text-xl py-4 px-8 border border-white underline;
}

.button:hover {
  @apply text-black bg-white;
}

@tailwind utilities;
